body{
  font-family: "Arial";
  background-color:#00072f;
  border-radius: 10px;
  padding: 10px;
}
#theBoxBorder{
	border-radius: 25px;
	padding-top: 10px;
	padding-bottom: 30px;
	padding-left: 30px;
	padding-right: 30px;
	background-color:#405bff
}
.fontTitle{
  color: #18288a;
}
.fontEmphasized{
  font-style: italic
}