body{
  font-family: "Arial";
  background-color:#342011;
  border-radius: 10px;
  color: white;
}
#theBoxBorder{
	border-radius: 25px;
	padding-top: 10px;
	padding-bottom: 30px;
	padding-left: 30px;
	padding-right: 30px;
	background-color:#000000;
	opacity: 0.3;
}
.fontTitle{
  color: #cc9300;
}
.fontEmphasized{
  font-style: italic
}