body{
  font-family: "Arial";
  background-color:#342011;
  border-radius: 10px;
  color: #000a47;
  padding: 10px;
}
#theBoxBorder{
	border-radius: 25px;
	padding-top: 10px;
	padding-bottom: 30px;
	padding-left: 30px;
	padding-right: 30px;
	background-color:#cfffac
}
.fontTitle{
  color: #b28000;
}
.fontEmphasized{
  font-style: italic
}