body{
  font-family: "Trebuchet MS";
  background-color:#222222;
  border-radius: 10px;
  color: #CCCCCC;
  padding: 10px;
}
#theBoxBorder{
	border-radius: 25px;
	padding-top: 10px;
	padding-bottom: 30px;
	padding-left: 30px;
	padding-right: 30px;
	background-color:#444444
}
.fontTitle{
  color: #b28000;
}
.fontEmphasized{
  font-style: italic
}