h2{
  color: white;
}
body{
  font-family: "Arial";
  background-color:#342011;
  border-radius: 10px;
  color: white;
}
#theBoxBorder{
	border-radius: 25px;
	padding: 30px;
	background-color:#000000;
	opacity: 0.3;
}